<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group7.tcss450.uw.edu.chatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/armodillo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/armodillo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9eL63MiEwYclMzoDYy2KVgvUp-Zhz-I4" />

        <activity
            android:name=".LandingActivity"
            android:label="@string/title_activity_landing"
            android:theme="@style/AppTheme.AppBarOverlay" />
        <activity android:name=".Activities.MainActivity$ThemeChangeActivity" />
        <activity
            android:name=".Utils.SettingMenuActivity"
            android:label="@string/title_activity_setting_menu"
            android:theme="@style/AppTheme.AppBarOverlay" />
        <activity android:name=".Activities.Connections.ConnectionsActivity"></activity>
        <activity
            android:name=".Activities.ChatActivity"
            android:parentActivityName=".LandingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="group7.tcss450.uw.edu.chatapp.Activities.ChatListActivity" />
        </activity>
        <activity android:name=".Activities.ChatListActivity"
            android:parentActivityName="group7.tcss450.uw.edu.chatapp.LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="group7.tcss450.uw.edu.chatapp.LandingActivity" />
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_name"/>
        <service
            android:name=".Utils.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_menu_camera" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@mai"/>
    </application>

</manifest>